<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">能量密码</h1>
      <p class="slogan">能量密码 是一个提供优质精油调配服务的网站。
        <br>
        我们相信来自大自然的神奇精油，可以疗愈我们，支持我们，面对人生不可避免的变动、压力与挑战，多一份自然的力量，让我们可以平稳地渡过、优雅地面对、有序地整理。
        <br>
        我们愿意在你身边，为你加油。
      </p>
      <p class="lead">
        <%= link_to '进入了解', jobs_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">变动&支持</h2>
        <p class="lead">人生或工作境遇发生重大变化，需要平稳过渡时<br>（结婚／离婚、升职／换工作、新环境、新角色...)</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">压力&守护</h2>
        <p class="lead">工作压力、任务压力、情绪压力...各种事件需要你昂扬面对时   </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">过去&未来
        <p class="lead">希望摆脱过往重大创伤（车祸、灾祸等），或重度无助沮丧时，可预约作 <a target="_blank" href="http://zoudongdong-blog.logdown.com/posts/1780720">AG</a>一对一疗程治疗 <a target="_blank" email="alpevery@gmail.com">治疗师邮箱</a>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
Contact GitHub API Training Shop Blog About
